


@{
    ViewBag.Title = "professeur";
    Layout = "~/Views/Shared/privateprofesseur.cshtml";
}

<h2>Professeur</h2>
<section id="about" class="about">

    <div class="col-lg-6 d-flex flex-column justify-content-center about-content">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label for="exampleInputPassword1">Prenom</label>
                <input type="password" class="form-control" name="passet" id="passet" disabled placeholder="@Model.Nom">
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" name="emailet" id="emailet" aria-describedby="emailHelp" disabled placeholder="@Model.Nom">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Prenom</label>
                <input type="password" class="form-control" name="passet" id="passet" disabled placeholder="@Model.Prenom">
            </div>

            <div class="form-check">
                <input type="file" name="file" id="file" />
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" name="seconnecter" value="etudiant" class="btn btn-primary" onclick="upload">valider</button>

        }
    </div>
</section>

